:root {
  --transition-default: 0.3s;

  --color-primary: #6e48eb;
  --color-white: #fff;
  --color-black: #000;

  --color-lite-black: #0f0f12;

  --color-light-gray: rgba(0, 0, 0, 0.03);
  --color-mid-gray: #979797;
  --color-dark-gray: #7e7e7e;
}

.btn-dark {
  padding: 9px 12px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 14px;
  cursor: pointer;
  transition: all var(--transition-default);
}
.btn-dark:hover {
  transform: scale(1.03);
}

.btn-light {
  padding: 9px 12px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 14px;
  cursor: pointer;
  transition: all var(--transition-default);
}
.btn-light:hover {
  transform: scale(1.03);
}

.btn-primary {
  padding: 9px 12px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 14px;
  cursor: pointer;
  transition: all var(--transition-default);
}
.btn-primary:hover {
  transform: scale(1.03);
}

.btn-outline {
  padding: 9px 12px;
  outline: none;
  border: 2px var(--color-light-gray) solid;
  border-radius: 10px;
  background: none;
  font-size: 14px;
  cursor: pointer;
  transition: all var(--transition-default);
}
.btn-outline:hover {
  transform: scale(1.03);
}
