:root {
  --transition-default: 0.3s;

  --color-primary: #6e48eb;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-lite-black: #0f0f12;

  --color-mid: #5e5e68;
  --color-dark: #4d4e55;

  --color-mid-gray: #979797;
  --color-dark-gray: #7e7e7e;
}

.theme-light {
  --color-main: #ffffff;
  --color-opacity: rgba(0, 0, 0, 0.03);

  --text-primary: #101828;
  --text-secondary: #344054;
  --text-tertiary: #475467;
  --text-quaternary: #667085;

  --text-disabled: #667085;

  --text-error-primary: #d92d20;
  --text-warning-primary: #dc6803;
  --text-success-primary: #079455;

  --border-primary: #d0d5dd;
  --border-secondary: #e4e7ec;
  --border-tertiary: #f2f4f7;
  --border-disabled: #d0d5dd;
  --border-error: #f04438;

  --utility-gray-50: #F9FAFB;
  --utility-gray-100: #F2F4F7;
  --utility-gray-200: #E4E7EC;
  --utility-gray-300: #D0D5DD;
  --utility-gray-400: #98A2B3;
  --utility-gray-500: #667085;
  --utility-gray-600: #475467;
  --utility-gray-700: #344054;
  --utility-gray-800: #182230;
  --utility-gray-900: #101828;
}

.theme-dark {
  --color-main: #000000;
  --color-opacity: rgba(255, 255, 255, 0.03);

  --text-primary: #f5f5f6;
  --text-secondary: #cecfd2;
  --text-tertiary: #94969c;
  --text-quaternary: #94969c;

  --text-disabled: #85888e;

  --text-error-primary: #f97066;
  --text-warning-primary: #fdb022;
  --text-success-primary: #47cd89;

  --border-primary: #333741;
  --border-secondary: #1f242f;
  --border-tertiary: #1f242f;
  --border-disabled: #333741;
  --border-error: #f97066;

  --utility-gray-50: #161B26;
  --utility-gray-100: #1F242F;
  --utility-gray-200: #333741;
  --utility-gray-300: #333741;
  --utility-gray-400: #61646C;
  --utility-gray-500: #85888E;
  --utility-gray-600: #94969C;
  --utility-gray-700: #CECFD2;
  --utility-gray-800: #ECECED;
  --utility-gray-900: #F0F1F1;
}

.admin__app {
  height: 100vh;
}

.app.admin {
  padding: 0;
  display: grid;
  grid-template-columns: 250px 1fr;
  column-gap: 10px;
  background-color: var(--utility-gray-50);
  padding: 10px;
}

.main {
  background-color: var(--color-main);
  color: var(--text-primary);
  border: var(--border-secondary) 1px solid;
  padding: 15px;
  border-radius: 15px;
}

.sidebar {
  gap: 10px;
}

.sidebar__profile {
  color: var(--text-primary);
  display: flex;
  background-color: var(--color-main);
  border: var(--border-secondary) 1px solid;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  transition: var(--transition-default);
}
.sidebar__profile:hover {
  background-color: var(--utility-gray-100);
}

.sidebar__search {
  background-color: var(--utility-gray-100);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px;
  border-radius: 10px;
  color: var(--text-tertiary);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 5px;
}
.sidebar__search input {
  all: unset;
  background: none;
  width: 100%;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1fr;
  gap: 5px;
}

.sidebar__nav ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar__nav-link {
  color: var(--text-tertiary);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  font-size: 14px;
  transition: var(--transition-default);
  border-radius: 10px;
  border: 1px solid transparent;
}
.sidebar__nav-link:hover {
  color: var(--text-primary);
  background-color: var(--utility-gray-100);
}
.sidebar__nav-link.active {
  color: var(--text-primary);
  border: var(--border-secondary) 1px solid;
  background-color: var(--color-main);

  -webkit-box-shadow: 10px 10px 24px -25px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 24px -25px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 24px -25px rgba(0, 0, 0, 1);
}

.error {
  height: 100%;
  color: var(--text-primary);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.error-title {
  font-size: 99px;
  font-weight: 700;
  line-height: 77px;
}

.error-description {
  font-weight: 600;
  font-size: 33px;
}

.error-link {
  font-size: 15px;
  color: var(--text-tertiary);
}

.error-link a {
  color: var(--color-primary);
}

.sidebar__profile-text {
  width: 77%;
}

.sidebar__profile-text-name {
  font-weight: 600;
  width: max-content;
  font-size: 15px;
}

.sidebar__profile-text-email {
  font-size: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown__menu {
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-main);
  padding: 10px;
  border: var(--border-secondary) 1px solid;
  border-radius: 10px;
  transition: var(--transition-default);
}

.dropdown__menu ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar__profile-nobg {
  color: var(--text-primary);
  display: flex;
  padding: 5px;
  gap: 10px;
  transition: var(--transition-default);
}

.sidebar__copyright {
  font-size: 12px;
  color: var(--text-disabled);
  width: 100%;
  text-align: center;
  border-top: var(--border-secondary) 1px solid;
  padding-top: 10px;
}